@import url("https://fonts.googleapis.com/css2? family=IM+Fell+Double+Pica&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.catego {
  font-family: "IM FELL Great Primer SC";
  text-align: center;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;

  padding-left: 25px;
  padding-right: 25px;
}

.col-md-4 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding-top: 10px;
}

.playa {
  width: 65%;
  border-radius: 40px;
}

@media (max-width: 650px) {
  body {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }
}
.cartas {
  width: 300px;
  height: 350px;
}
#cat-todo {
  text-align: center;

  margin-bottom: 80px;
}
#cat-h3 {
  font-family: "Lato", sans-serif;
  color: black;
}
