@import url("https://fonts.googleapis.com/css2? family=IM+Fell+Double+Pica&family=Playfair+Display&display=swap");

* {
  margin: auto;
}

main {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  width: 65%;
  align-items: center;
}

#Titulo {
  padding-top: 15px;
  display: flex;
}

#Titulo h1 {
  padding-left: 60px;
  font-family: "IM FELL Double Pica";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 120px;
}

#Titulo p {
  width: 60%;

  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 120px;
  font-size: 24px;
  line-height: 49px;
}

#contenidoCategoria {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
}

#categoria p {
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 49px;
  text-align: center;

  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  clear: both;

  text-align: justify;
}

.city {
  margin-left: 80px;
  width: 55%;
  border-radius: 40px;
}

.arqueologia {
  margin-left: 50px;
  width: 65%;
  border-radius: 40px;
}

.playa {
  margin-left: 50px;
  width: 65%;
  border-radius: 40px;
}

@media (max-width: 650px) {
  body {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }
}

#carro {
  height: 20px;
  width: 20px;
  padding-left: 20px;
}

.btn-neon {
  transition: 0.2s;
  overflow: hidden;
}

.btn-neon:hover {
  background: #24afd3;
  box-shadow: 0 0 10px #24afd3, 0 0 40px #24afd3, 0 0 80px #24afd3;
}

h5 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 40px;

  color: black;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

  border-radius: 20px;
  width: 40%;
  margin-top: 15px;
}
#hola {
  justify-content: center;
}
.card {
  margin-top: 5%;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  width: 95%;
  padding-top: 20px;
  padding-bottom: 50px;
  border-radius: 20px;
}
.card-img-top {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 65%;
  border-radius: 15px;
}
.CategoriaProducto:hover {
  background: #24afd3;
  box-shadow: 0 0 10px #24afd3, 0 0 40px #24afd3, 0 0 80px #24afd3;
}
